[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-flask = "*"
pylint-flask-sqlalchemy = "*"

[packages]
Flask-Json = "0.3.4"
dominate = "2.5.1"
visitor = "0.1.3"
flask = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.6"
