[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint-flask = "0.6"
pylint-flask-sqlalchemy = "0.2.0"

[packages]
Flask-Json = "0.3.4"
dominate = "2.5.1"
visitor = "0.1.3"

[requires]
python_version = "3.6"
