<html lang="pl"><head>
	<title>URL shortener</title>
	<meta charset="utf-8">
	<meta name="theme-color" ,="" content="#dddddd">
	<link rel="stylesheet" type="text/css" href="static/index.css">
	<script src="static/script.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Raleway|Titillium+Web&amp;display=swap" rel="stylesheet">
	<link rel="icon" href="static/favicon.ico"  type="image/x-icon">
</head>

<body data-gr-c-s-loaded="true">
	<div id="container">
		<div id="logo">
			<a href="#" class="logoText">
				<span id="url">rigcz.tk</span>
			</a>
			</div>
		</div>
		<div id="contentContainer">
			<div id="formContainer" class="midContainer">
				<h3 class="containerTitle g2">URL shortener</h3>
				<div id="klasy">
					<div class="smallContainer">
						<div class="label">
							<p>
								<label for="url">URL</label>
								<input type="text" autocomplete="off" name="url" required id="formurl">
							</p>
						</div>
						<div class="label">
							<p>
								<label for="slug">SLUG<span> (optional)</span></label>
								<input type="text" autocomplete="off" name="slug" id="formtext">
							</p>
						</div>
						<div class="label">
							<p>
								<button onclick="send()">shorten!</button>
							</p>
						</div>
						<div class="label hidden" id="output">
							<p class="monospace">
								ruchanie xD
							</p>
						</div>
                    </div>
                </div>
            </div>
		</div>
	</div>
<div class="footer">
	<span>Przemysław 'Bercik' Barcicki 2020</span>
</div>

</body></html>